---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/photos?access_token=CAADcvmCZAfrkBALDJehUnqxZC8il8ZCywTd5UoLCZCjeXAbrGbYdQWZCF7HOq5dl6qhO0bHhIepQJRqnoy2ZAcaCrfo1WigrkabYG0WajIGRtRTmf2dO8ZCFTcdCnk6Cdq5lhMqNSRP3ZCSLmAuN5jMdmOwc6RWD9XJGhNlWykeX09oplWAiiR8LipQ1h48Ac7IZD&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"4686f4f6d92d8914f45b3587476b772429604712"'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"565408613551428","from":{"name":"Tony Grullon","id":"100002468826185"},"picture":"https:\/\/fbcdn-photos-e-a.akamaihd.net\/hphotos-ak-ash3\/t1\/1522202_565408613551428_1834488371_s.jpg","source":"https:\/\/scontent-a.xx.fbcdn.net\/hphotos-ash3\/t1\/s720x720\/1522202_565408613551428_1834488371_n.jpg","height":720,"width":537,"images":[{"height":2048,"width":1530,"source":"https:\/\/scontent-a.xx.fbcdn.net\/hphotos-ash3\/t31\/1512050_565408613551428_1834488371_o.jpg"},{"height":960,"width":717,"source":"https:\/\/scontent-a.xx.fbcdn.net\/hphotos-ash3\/t1\/1522202_565408613551428_1834488371_n.jpg"},{"height":720,"width":537,"source":"https:\/\/scontent-a.xx.fbcdn.net\/hphotos-ash3\/t1\/q79\/s720x720\/1522202_565408613551428_1834488371_n.jpg"},{"height":600,"width":447,"source":"https:\/\/scontent-a.xx.fbcdn.net\/hphotos-ash3\/t1\/s600x600\/1522202_565408613551428_1834488371_n.jpg"},{"height":480,"width":358,"source":"https:\/\/scontent-a.xx.fbcdn.net\/hphotos-ash3\/t1\/q72\/s480x480\/1522202_565408613551428_1834488371_n.jpg"},{"height":320,"width":238,"source":"https:\/\/scontent-a.xx.fbcdn.net\/hphotos-ash3\/t1\/q71\/s320x320\/1522202_565408613551428_1834488371_n.jpg"},{"height":240,"width":180,"source":"https:\/\/fbcdn-photos-e-a.akamaihd.net\/hphotos-ak-ash3\/t1\/1522202_565408613551428_1834488371_a.jpg"},{"height":130,"width":97,"source":"https:\/\/fbcdn-photos-e-a.akamaihd.net\/hphotos-ak-ash3\/t1\/1522202_565408613551428_1834488371_s.jpg"},{"height":130,"width":97,"source":"https:\/\/fbcdn-photos-e-a.akamaihd.net\/hphotos-ak-ash3\/t1\/s75x225\/1522202_565408613551428_1834488371_s.jpg"}],"link":"https:\/\/www.facebook.com\/photo.php?fbid=565408613551428&set=a.565408556884767.1073741829.100002468826185&type=1","icon":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yz\/r\/StEh3RhPvjk.gif","created_time":"2014-01-04T02:51:27+0000","updated_time":"2014-01-04T02:53:58+0000","tags":{"data":[{"id":"57603770","name":"Zina
        Eskina","created_time":"2014-01-04T02:53:57+0000","x":43.202979515829,"y":28.377777777778}],"paging":{"cursors":{"before":"NTc2MDM3NzA=","after":"NTc2MDM3NzA="}}},"likes":{"data":[{"id":"57603116","name":"Kin
        Hei Lam"}],"paging":{"cursors":{"before":"NTc2MDMxMTY=","after":"NTc2MDMxMTY="}}}},{"id":"10100332991030380","from":{"name":"Ricardo
        Mejias","id":"27907661"},"picture":"https:\/\/fbcdn-photos-h-a.akamaihd.net\/hphotos-ak-prn2\/t1\/1513203_10100332991030380_220914528_s.jpg","source":"https:\/\/fbcdn-sphotos-h-a.akamaihd.net\/hphotos-ak-prn2\/t1\/s720x720\/1513203_10100332991030380_220914528_n.jpg","height":540,"width":720,"images":[{"height":1[...]
- request:
    method: get
    uri: https://graph.facebook.com/565408613551428/tags?access_token=CAADcvmCZAfrkBALDJehUnqxZC8il8ZCywTd5UoLCZCjeXAbrGbYdQWZCF7HOq5dl6qhO0bHhIepQJRqnoy2ZAcaCrfo1WigrkabYG0WajIGRtRTmf2dO8ZCFTcdCnk6Cdq5lhMqNSRP3ZCSLmAuN5jMdmOwc6RWD9XJGhNlWykeX09oplWAiiR8LipQ1h48Ac7IZD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"7eb85fbd9602ae4714f5062fa17666e94806bc87"'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"57603770","name":"Zina Eskina","created_time":"2014-01-04T02:53:57+0000","x":43.202979515829,"y":28.377777777778}],"paging":{"cursors":{"before":"NTc2MDM3NzA=","after":"NTc2MDM3NzA="}}}'
  recorded_at: Fri, 17 Jan 2014 02:55:14 GMT
- request:
    method: post
    uri: https://graph.facebook.com/
    body:
      encoding: UTF-8
      string: batch=%5B%7B%22method%22%3A%22get%22%2C%22relative_url%22%3A%22565408613551428%2Flikes%3Flimit%3D25%22%2C%22name%22%3A%22get-likes%22%2C%22omit_response_on_success%22%3Afalse%7D%2C%7B%22method%22%3A%22get%22%2C%22relative_url%22%3A%22%3Fids%3D%257Bresult%253Dget-likes%253A%2524.data.%252A.id%257D%22%7D%5D&access_token=CAADcvmCZAfrkBALDJehUnqxZC8il8ZCywTd5UoLCZCjeXAbrGbYdQWZCF7HOq5dl6qhO0bHhIepQJRqnoy2ZAcaCrfo1WigrkabYG0WajIGRtRTmf2dO8ZCFTcdCnk6Cdq5lhMqNSRP3ZCSLmAuN5jMdmOwc6RWD9XJGhNlWykeX09oplWAiiR8LipQ1h48Ac7IZD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"code":200,"headers":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"private,
        no-cache, no-store, must-revalidate"},{"name":"Connection","value":"close"},{"name":"Content-Type","value":"text\/javascript;
        charset=UTF-8"},{"name":"ETag","value":"\"91aca85c6e6886e2b399d47f28bf988f228fabb1\""},{"name":"Expires","value":"Sat,
        01 Jan 2000 00:00:00 GMT"},{"name":"Pragma","value":"no-cache"},{"name":"x-fb-loadmon","value":"0,71.82,20"}],"body":"{\"data\":[{\"id\":\"57603116\",\"name\":\"Kin
        Hei Lam\"}],\"paging\":{\"cursors\":{\"before\":\"NTc2MDMxMTY=\",\"after\":\"NTc2MDMxMTY=\"}}}"},{"code":200,"headers":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"private,
        no-cache, no-store, must-revalidate"},{"name":"Connection","value":"close"},{"name":"Content-Type","value":"text\/javascript;
        charset=UTF-8"},{"name":"ETag","value":"\"e02b8cdb49cb721328b9b2e5316d48b6c216e3c8\""},{"name":"Expires","value":"Sat,
        01 Jan 2000 00:00:00 GMT"},{"name":"Last-Modified","value":"2014-01-09T00:21:03+0000"},{"name":"Pragma","value":"no-cache"},{"name":"x-fb-loadmon","value":"0,71.82,20"}],"body":"{\"57603116\":{\"id\":\"57603116\",\"name\":\"Kin
        Hei Lam\",\"first_name\":\"Kin\",\"middle_name\":\"Hei\",\"last_name\":\"Lam\",\"link\":\"https:\\\/\\\/www.facebook.com\\\/kh.lam87\",\"gender\":\"male\",\"locale\":\"en_US\",\"updated_time\":\"2014-01-09T00:21:03+0000\",\"username\":\"kh.lam87\"}}"}]'
  recorded_at: Fri, 17 Jan 2014 02:55:14 GMT
[...]
