<h1>Show me my best photos</h1>


<% if @render == true %>
  <% @photos.each do |photo| %>
  <div>
    <img src="<%= photo[:url] %>">
    <p>Like Count: <%= photo[:total_likes]%></p>
  </div>
  <% end %>
<% end %>
