<h1>Show me my best photos</h1>


<% if @render %>
  <% @photos.each do |photo| %>
  <div>
    <%if photo[:total_likes] >= 0 %>
      <img src="<%= photo[:url] %>">
      <p>Like Count: <%= photo[:total_likes] %></p>
    <% end %>
  </div>
  <% end %>
<% end %>
