body {
  font-family: 'Quicksand';
}

.my_nav {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;   
  
}
.navbar{
  background-color: #2855a2;
}

#logo {
  font-family: 'Oleo Script Swash Caps', cursive;
  color:white;
  font-size: 5em;
  position: relative;
  float: left;
}

img {
  height: 400px;
}

.my_nav span {
  position: relative;
  float: right;
  padding-top: 3em;
}

